.navbar {
  background-color: #59804D;
}

.navbarMenu li a {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
  color: #FFF5ED;
  font-family: 'Poppins', sans-serif;
}

.loginBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 20px;
  gap: 10px;
  width: 100px;
  height: 33px;
  background: #B3A768;
  border-radius: 30px;
  color: white;
}

.signupBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 20px;
  gap: 10px;
  width: 111px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 30px;
  flex: none;
  order: 7;
  flex-grow: 0;
  background-color: #6A8698;
  color: #FFFFFF;
}

.navbar-brand {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #59804D;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0 0 4px #102B08;
}

.nav-item .nav-link {
  font-size: 20px;
}

.dropdown {
  margin-right: 120px !important;
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .collapse {
      display: none !important;
  }
}
